<header>
    <nav>
        <div id="logo">
            <img src="./imgs/wlogo.png" alt="WildCodeSchool logo">
            <h1>WILD<br/>BLOG</h1>
        </div>
        <ul>
            <li>
                <a [routerLink]="['/']">Home</a>
            </li>
            <li>
                <a [routerLink]="['/login']">Se connecter</a>
            </li>
            <li>
                <a [routerLink]="['/signup']">S'inscrire</a>
            </li>
            <li>
                <a [routerLink]="['/contact']">Contact</a>
            </li>
        </ul>
    </nav>
</header>