<header>
    <nav>
        <div id="logo">
            <img src="./imgs/wlogo.png" alt="WildCodeSchool logo">
            <h1>WILD<br/>BLOG</h1>
        </div>
        <ul>
            <li>
                <a [routerLink]="['/']">Home</a>
            </li>
            @if (authService.isLoggedIn()) {
                <li>
                    <a [routerLink]="['/profile']">Profile</a>
                </li>
                <li>
                    <a (click)="authService.logout()">Déconnexion</a>
                </li> 
            } @else {
                <li>
                    <a [routerLink]="['/login']">Connexion</a>
                </li>
                <li>
                    <a [routerLink]="['/signup']">Inscription</a>
                </li>   
            }
            @if (authService.getUserRole() == 'ROLE_ADMIN'){
                <li>
                    <a [routerLink]="['/admin']">Admin</a>
                </li>
            }

            <li>
                <a [routerLink]="['/contact']">Contact</a>
            </li>
        </ul>
    </nav>
</header>