
@for (article of articles; track $index){
    <div>
        
        <article class="article">
            <img [src]="article.image">
            <div class="article--infobar"><p>Par {{ article.author }}</p><p [ngStyle]="{'color': article.isPublished ? 'green': 'red'}" ><b>Article {{ article.isPublished ? 'publié' : 'non publié' }}</b></p><p>{{ article.likes }} ❤️</p></div>
            <h3 [ngClass]="{'popular-article': article.likes > 100}" [ngStyle]="{'color': article.likes > 150 ? 'orangered': ''}">{{ article.title }}</h3>
            <p [ngClass]="{'popular-article': article.likes > 100}">{{ article.content }}</p>
            <div class="article--separator"></div>
            <h4>Commentaire</h4>
            <p>{{ article.comment }}</p>
            <input type="text" [(ngModel)]="article.comment" placeholder="Ecrire un commentaire..">
            <button (click)="togglePublication($index)">{{ article.isPublished ? 'Dépublié' : 'Publié' }} l'article</button>
        </article>
    </div>  
}
@if (visibleArticleLength == 0){
    <p>Il n'y a aucun article publié pour le moment</p>
} 

