form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin: 20px 0;
  }

  .fieldset {
    display: flex;
    flex-direction: column;
    border: 0;
    margin: 10px 0;
    width: 400px;
  }

  label {
    font-size: 20px;
    font-weight: 600;
  }

  input,
  textarea {
    border-radius: 10px;
    border: 2px solid orange;
    padding: 10px;
  }

  span {
    color: orangered;
  }

  button {
    color: white;
    font-size: 17px;
    padding: 8px;
    background-color: orange;
    border: 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 5px;
    margin: 2px;
    &:hover {
      cursor: pointer;
      scale: 1.03;
    }
    transition: all 350ms ease;

    &:disabled,
    &[disabled] {
      background-color: gray;
      &:hover {
        cursor: not-allowed;
      }
    }
  }
}
